h1 {
  text-align: center;
  padding: 20px;
  font-size: 30px;
  color: red;
  padding-left: 45%;
}

.logout {
  float: right;
  text-align: right;
  color: blue;
  border:none;
  background: none;
  padding-left: 35%;
  padding-right: 2%;
  font-weight: bold;
  
}

#inline{
  width:100%;
  height:auto;
  display:flex;
}

button:hover,button:focus{
  text-decoration: underline;
}

button:disabled{
  text-decoration-style: none;
  color:#dddddd;
}