div.input input {
    padding: 10px 20px 10px;
    padding-top: 20px;
    font-size: 25px;
    align-content: center;
    text-align: center;
    
    
}
div {
    align-content: center;
    text-align: center;
    padding-top: 20px;
}